
@font-face {
    font-family: "Segeo-Bold";
    src: url("../fonts/Segoe\ UI\ Bold.ttf");
}
@font-face {
    font-family: "Segeo-Semi";
    src: url("../fonts/Segoe\ UI.ttf");
}
.header_sec .hdr_main {
    background-color: #3d3c40;
}

.hdr_main .navbar-nav .nav-link {
    font-size: 14px;
    color: #cdc4d6;
}

.hdr_top_bar {
    background: #3d3c40;
    border-bottom: 1px solid #cdc4d6;
}

.hdr_top_bar .hdr_left_block ul,
.footer_sec .ftr_main_block ul.social_main {
    float: right;
}

.mainHeader {
    /*background: rgb(253, 0, 0);*/
    background: #963491;
    /*background: linear-gradient(90deg, rgba(253, 0, 0, 1) 0%, rgba(145, 36, 66, 1) 58%, rgba(28, 10, 18, 1) 100%);*/
    height: 300px;
    display: grid;
    align-items: center;
}

.mainHeader h3 {
    color: #fff;
    text-align: center;
}
.mainHeader img{
    position: absolute;
    right: 30px;
    top: -15px;
    display: none;

}

.form-control.change-language {
    /*background: rgb(253, 0, 0);*/
    background: #963491;
    /*background: linear-gradient(90deg, rgba(253, 0, 0, 1) 0%, rgba(253, 49, 138, 1) 100%);*/
}
.form-control.change-language option{color:#000;}

input[type='radio'] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    /*border: 1px solid rgb(253, 0, 0);*/
    border: 1px solid #963491;
    border-radius: 50%;
    outline: none;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 68%;
    height: 68%;
    margin: 18% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    /*background: rgb(253, 0, 0);*/
    background: #963491;
}

.mobileHeader {
    padding: 20px;
    display: none;
}

.mobileHeader button {
    background-color: transparent;
    border: none;
    float: right;
    font-size: 25px;
    color: #fd0416;
    box-shadow: none;
    outline: none;
}

.socialMedia {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: none;
}

.socialMedia p {

    color: #747276;
    text-align: center;

}
.socialMedia ul{
    text-align: center;
}
.socialMedia ul.social_main.list-unstyled.mb-0 li a {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    line-height: 18px;
}
.socialMedia ul.social_main.list-unstyled.mb-0 li a svg{
    font-size: 12px !important;
}
.cardBlur{
    position: relative;
    padding: 20px;
    border-radius: 0px;
    overflow: hidden;
}
.cardBlur:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d5cccc;
    z-index: -1;
    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
#card{
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 1px 2px 12px -4px #00000029;
    box-shadow: 1px 2px 12px -4px #00000029;
    border-radius: 10px;
}
#card .welcomeText p{
    text-align: center;
    padding: 20px;
}
#card .welcomeText p br{
    display: none;
}
.prod_coll .proimage{
    box-shadow: 0px 1px 5px 0px rgb(0 0 13 / 75%);
    -webkit-box-shadow: 0px 1px 5px 0px rgb(0 0 13 / 7%);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,13,0.75);
    padding: 20px;
    border-radius: 8px;
}
.prod_coll .proimage .product_name{
    height: 55px;
}
.proimage .product_name a{
    font-family: Segeo-Bold;
}
.proimage .product_description p{
    text-align: right;
    font-family: Segeo-Semi;
    margin-bottom: 5px;
}
.readMore{
    text-align: left;
}
.readMore a{
    color: black;
    font-family: Segeo-Semi;
}
.content_main_sec{
    padding: 50px 150px;
}
.pro_img_box .productPrice{
    position: absolute;
    bottom: -11px;
    margin: 0px;
    left: 35%;
    background: #644fb0;
    padding: 3px 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}
.mobileHeader{
    display: none;
}
.hdr_main .companyLogo{
    position: absolute;
    left: 45%;
}
.hdr_main .navbar li svg{
    font-size: 22px;
    color: #fff;
}
.hdr_main .navbar li a img{
    width: 30px;
}
.hdr_main .navbar li a{
    position: relative;
    top: -5px;
}
.desktopHide,
.sliderProduct{
    display: none;
}
.filterBox{
    position: fixed;
    left: -280px;
    top: 0;
    height: 100%;
    height: 100vh;
    display: block !important;
    z-index: 9999;
    width: 274px;
    background: #FEFDFD;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
.filterBox .filterHeader{
    padding: 5px 10px;
    text-align: right;
}
.filterBox .filterHeader button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-size: 23px;
    color: #FD0000;
}
.filterBox .filterCategory{
    padding: 0px 20px;
}
.filterBox .filterCategory h4{
    text-align: right;
    font-size: 24px;
    color: #343337;
    font-family: Segeo-Bold;
    margin-bottom: 15px;
}
.filterBox .filterCategory p{
    text-align: right;
    font-family: Segeo-Semi;
    margin-bottom: 0px;
}
.filterBox .filterCategory .catlist_item li{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding: 10px 0px 0px;
}

.filterBox .filterCategory .catlist_item li label{
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: Segeo-Semi;
    font-size: 16px;
}
.filterBox .filterCategory .catlist_item li input[type=checkbox]{
    width: 16px;
    height: 16px;
    position: relative;
    opacity: 1;
}
.filterBox .filterCategory .catlist_item li input[type="checkbox"]:before {
    content: "";
    width: 16px;
    height: 16px;
    background: #fff;
    position: absolute;
    /*border: 1px solid #fd1d54;*/
    border: 1px solid #963491;
    border-radius: 3px;
    opacity: 1;
}
.filterBox .filterCategory .catlist_item li input[type="checkbox"]:checked:after{
    content: "";
    width: 10px;
    height: 10px;
    /*background: #fd1d54;*/
    background: #963491;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 2px;
}
.shoppingCart{
    position: fixed;
    right: -350px;
    top: 0;
    height: 100%;
    height: 100vh;
    display: block !important;
    z-index: 9999;
    width: 320px;
    background: #3d3c40;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
.shoppingCart .headerCart{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoppingCart .headerCart img{
    width: 37px;
}
.shoppingCart .headerCart button{
    background-color: transparent;
    border: none;
    color: #FD0000;
}
.shoppingCart .cartList{
    margin-top: 45px;
}
.shoppingCart .cartList h4{
    text-align: center;
    color: #fff;
    font-family: Segeo-Bold;
}
.shoppingCart .cartList ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding: 0px 33px;
    margin-top: 20px;
    height: 450px;
    overflow: scroll;
}
.shoppingCart .cartList ul li{
    position: relative;
}
.shoppingCart .cartList ul li .itemCart{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.shoppingCart .cartList ul li .itemCart img{
    width: 52px;
    height: 52px;
    border-radius: 4px;
}
.shoppingCart .cartList ul li .itemCart .itemDetail{
    margin-right: 15px;
}
.shoppingCart .cartList ul li .itemCart .itemDetail p{
    display: flex;
    justify-content: space-between;
}
.shoppingCart .cartList ul li .itemCart .itemDetail h5{
    font-size: 16px;
    font-family: Segeo-Semi;
    color: #fff;
}
.shoppingCart .cartList ul li .itemCart .itemDetail p span{
    font-size: 14px;
    font-family: Segeo-Semi;
    color: #ccc;
}
.shoppingCart .cartList ul li .itemCart .itemDetail p span:nth-child(1){
    position: relative;
    left: -34px;
}
.shoppingCart .cartList ul li svg{
    position: absolute;
    font-size: 12px;
    top: 10px;
    color: #ccc;
}
.shoppingCart .cartList ul li{
    border-bottom: 1px solid #6a6a6a;
    margin-bottom: 20px;
}
.cartTotal{
    margin: 0px 33px;
}
.cartTotal ul{
    padding: 0px;
    margin: 15px 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.cartTotal ul li{
    font-family: Segeo-Semi;
    color: #fff;
    font-size: 14px;
}
.continuePayment{
    background: rgb(253, 0, 0);
    background: linear-gradient(90deg, rgba(253, 0, 0, 1) 0%, rgba(253, 49, 138, 1) 100%);
    color: #fff;
    border-radius: 4px;
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 10px 10px;
    border: none;
    display: flex;
    justify-content: center;
}
.blurMe{
    filter: blur(10px);
    transition: all 0.6s ease;
}
.single_product_page{
    padding: 50px 0px;
}
.main_content{
    position: relative;
}
.main_content .inner_banner_sec.productBg{
    min-height: 300px;
}
.main_content .addToCartDiv{
    position: absolute;
    z-index: 998;
    top: 20px;
    left: 20px;
}
.main_content .addToCartDiv .quantity_box{
    display: none;
}
.main_content .backToStore{
    position: absolute;
    z-index: 888;
    right: 20px;
    top: 20px;
}
.main_content .additionalCosts{
    background: #644fb0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.product_description b,
.innerbanner_cap.mobileCap h1{
    font-family: Segeo-Bold;
}
.product_description p{
    font-family: Segeo-Semi;
}
.commonBtn{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
}
.sliderProduct{
    margin-bottom: 25px;
}
.sliderProduct .productImage{
    width: 100%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.sliderProduct .productImage img{
    height: 250px;
    border-radius: 10px;
}
html[dir="rtl"] .filterBox .filterCategory .catlist_item li label{
    margin-right: 0px;
    margin-left: 10px;
}
.packageHeader{
    min-height: 250px;
}
.innerbanner_cap.mobileCap h1{
    color: #000;
}
.innerbanner_cap.mobileCap .tagDiv{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.innerbanner_cap.mobileCap .tagDiv p{
    width: 130px;
    color: #fff;
    background: #644fb0;
    padding: 5px;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
}
.productDiv{
    background: #ECECEC;
    padding: 20px 0px;
    border-radius: 20px 30px 0px 0px;
}
.packageBox,
.single_slider_main{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.packageBox .mainImage,
.product_slider_main{
    width: 75%;
}
.packageBox .sideImage,
.product_slider_thumb{
    width: 20%;
}
.packageBox .mainImage img{
    height: 320px;
    border-radius: 10px;
}
.packageBox .mainImage p{
    margin: 0px;
    font-size: 12px;
    text-align: center;
}
.sideImage .productImg img,
.product_thumb_item,
.product_thumb_item img{
    height: 60px !important;
    width: 60px !important;
    border-radius: 10px;
}
.sideImage .productImg p{
    margin: 0px;
    font-size: 12px;
}
.sideImage .productImg{
    margin-bottom: 10px;
    text-align: center;
}
.slick-slide img{
    height: 320px;
    border-radius: 10px;
}
.slick-track{
    margin: 0px;
}
